<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#스파크-데이터-타입으로-변환" data-toc-modified-id="스파크-데이터-타입으로-변환-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>스파크 데이터 타입으로 변환</a></span></li><li><span><a href="#Boolean-데이터-타입-다루기" data-toc-modified-id="Boolean-데이터-타입-다루기-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Boolean 데이터 타입 다루기</a></span></li><li><span><a href="#수치형-데이터-타입-다루기" data-toc-modified-id="수치형-데이터-타입-다루기-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>수치형 데이터 타입 다루기</a></span></li><li><span><a href="#문자열-데이터-타입-다루기" data-toc-modified-id="문자열-데이터-타입-다루기-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>문자열 데이터 타입 다루기</a></span><ul class="toc-item"><li><span><a href="#문자열---정규표현식" data-toc-modified-id="문자열---정규표현식-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>문자열 - 정규표현식</a></span></li></ul></li><li><span><a href="#날짜와-타임스탬프-데이터-타입-다루기" data-toc-modified-id="날짜와-타임스탬프-데이터-타입-다루기-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>날짜와 타임스탬프 데이터 타입 다루기</a></span></li><li><span><a href="#null-값--다루기" data-toc-modified-id="null-값--다루기-6"><span class="toc-item-num">6&nbsp;&nbsp;</span><code>null</code> 값  다루기</a></span><ul class="toc-item"><li><span><a href="#coalesce" data-toc-modified-id="coalesce-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span><code>coalesce</code></a></span></li><li><span><a href="#ifnull,-nullif,-nvl,-nvl2" data-toc-modified-id="ifnull,-nullif,-nvl,-nvl2-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span><code>ifnull, nullif, nvl, nvl2</code></a></span></li><li><span><a href="#drop" data-toc-modified-id="drop-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span><code>drop</code></a></span></li><li><span><a href="#fill" data-toc-modified-id="fill-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span><code>fill</code></a></span></li><li><span><a href="#replace" data-toc-modified-id="replace-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span><code>replace</code></a></span></li></ul></li><li><span><a href="#복합-데이터-타입-다루기" data-toc-modified-id="복합-데이터-타입-다루기-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>복합 데이터 타입 다루기</a></span><ul class="toc-item"><li><span><a href="#구조체" data-toc-modified-id="구조체-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>구조체</a></span></li><li><span><a href="#배열" data-toc-modified-id="배열-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>배열</a></span></li><li><span><a href="#map" data-toc-modified-id="map-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span><code>map</code></a></span></li></ul></li></ul></div>

In [1]:
!ls /Users/younghun/Desktop/gitrepo/data/spark_perfect_guide/retail-data/

all    by-day

In [2]:
df = spark.read.format('csv')\
     .option('header', 'true')\
     .option('inferSchema', 'true')\
     .load('/Users/younghun/Desktop/gitrepo/data/spark_perfect_guide/retail-data/by-day/2010-12-01.csv')
df.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [3]:
# 트랜스포메이션 결과를 확인하기 위해 임시테이블인 뷰로 등록
df.createOrReplaceTempView('dfTable')

In [4]:
df.show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

## 스파크 데이터 타입으로 변환
- 스파크 자체 데이터 타입으로 변환시키기 위해 ``lit`` 함수를 분명히 기억!!
    * ``lit``은 다른 언어의 데이터 타입을 스파크 데이터 타입에 맞게 변환함

In [5]:
from pyspark.sql.functions import lit

test = df.select(lit(5), lit('five'), lit(5.0))
test.show(5)

+---+----+---+
|  5|five|5.0|
+---+----+---+
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
+---+----+---+
only showing top 5 rows

## Boolean 데이터 타입 다루기
- Boolean은 로우를 필터링할 때 매우 자주 사용됨
- 주로 조건문이 일치하면 True, 일치하지 않으면 False로 반환시켜 필터링 함

In [6]:
df.show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [7]:
from pyspark.sql.functions import col

df.where(col('InvoiceNo') != 536365)\
  .select("InvoiceNo", "Description")\
  .show(5, truncate=False)

+---------+-----------------------------+
|InvoiceNo|Description                  |
+---------+-----------------------------+
|536366   |HAND WARMER UNION JACK       |
|536366   |HAND WARMER RED POLKA DOT    |
|536367   |ASSORTED COLOUR BIRD ORNAMENT|
|536367   |POPPY'S PLAYHOUSE BEDROOM    |
|536367   |POPPY'S PLAYHOUSE KITCHEN    |
+---------+-----------------------------+
only showing top 5 rows

In [8]:
df.where(col('InvoiceNo') != 536365)\
  .selectExpr("InvoiceNo","Description")\
  .show(5, truncate=False)

+---------+-----------------------------+
|InvoiceNo|Description                  |
+---------+-----------------------------+
|536366   |HAND WARMER UNION JACK       |
|536366   |HAND WARMER RED POLKA DOT    |
|536367   |ASSORTED COLOUR BIRD ORNAMENT|
|536367   |POPPY'S PLAYHOUSE BEDROOM    |
|536367   |POPPY'S PLAYHOUSE KITCHEN    |
+---------+-----------------------------+
only showing top 5 rows

In [9]:
from pyspark.sql.functions import expr
# 문자열 표현식으로도 사용 가능
df.where("InvoiceNo != 536365")\
  .select(expr("InvoiceNo"), expr("Description"))\
  .show(5, False)

+---------+-----------------------------+
|InvoiceNo|Description                  |
+---------+-----------------------------+
|536366   |HAND WARMER UNION JACK       |
|536366   |HAND WARMER RED POLKA DOT    |
|536367   |ASSORTED COLOUR BIRD ORNAMENT|
|536367   |POPPY'S PLAYHOUSE BEDROOM    |
|536367   |POPPY'S PLAYHOUSE KITCHEN    |
+---------+-----------------------------+
only showing top 5 rows

- ``instr(string, substr)``: ``string`` 문자열에서 ``substr``이 시작하는 첫 번째 인덱스를 반환(단, **Pyspark에서 문자열 index 번호는 1부터 시작!**)

In [10]:
# 여러가지 필터링 조건
from pyspark.sql.functions import instr

priceFilter = col('UnitPrice') > 600
descriFilter = instr(df.Description, 'POSTAGE') >= 1

# 논리연산자 사용가능
"""
and로 필터추가하려면 연속적으로 where 구문 붙여서 하나의 문장으로 만들면 됨
or(|)로 필터추가하려면 동일한 구문 조건 안에 넣어야 함(하단 참조)
"""
df.where(df.StockCode.isin("DOT")).where(priceFilter | descriFilter).show(5)

+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|   Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+
|   536544|      DOT|DOTCOM POSTAGE|       1|2010-12-01 14:32:00|   569.77|      null|United Kingdom|
|   536592|      DOT|DOTCOM POSTAGE|       1|2010-12-01 17:06:00|   607.49|      null|United Kingdom|
+---------+---------+--------------+--------+-------------------+---------+----------+--------------+

- ``select``시, 불리언 타입의 칼럼을 추출할 때는 자동으로 True인 값들만 추출함(Boolean Indexing 처럼!)

In [11]:
# 불리언 표현식을 사용해서 DF 필터링하기
DOTCodeFilter = col('StockCode') == 'DOT'
priceFilter = col('UnitPrice') >= 600
descriFilter = instr(df.Description, 'POSTAGE') >= 1

df.withColumn('isExpensive', DOTCodeFilter & (priceFilter | descriFilter))\
  .where('isExpensive')\
  .select('UnitPrice', 'isExpensive').show()

+---------+-----------+
|UnitPrice|isExpensive|
+---------+-----------+
|   569.77|       true|
|   607.49|       true|
+---------+-----------+

- 위와 같이 필터조건을 표현식으로 작성해도 되지만 **칼럼명을 사용**해서도 작성할 수 있음
    * 동작방식은 동일하기 때문에 표현식과 칼럼명 방법 사이의 속도 차이 존재 X

In [12]:
from pyspark.sql.functions import expr

df.withColumn('isExpensive', expr('NOT UnitPrice <= 250'))\
  .where('isExpensive')\
  .select('Description', 'isExpensive').show()

+--------------+-----------+
|   Description|isExpensive|
+--------------+-----------+
|DOTCOM POSTAGE|       true|
|DOTCOM POSTAGE|       true|
+--------------+-----------+

- 불리언 표현식을 만들 때 ``null`` 데이터는 어떻게 다루어야 할까?
    * 다음과 같은 코드 수행
- ``join``방법 중 ``left-anti join``이란 왼쪽 테이블에는 있으면서 오른쪽 테이블에는 없는 row들만 남김

In [13]:
df.where(col('Description').eqNullSafe('hello')).show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
+---------+---------+-----------+--------+-----------+---------+----------+-------+

- ``eqNullSafe(df.column)`` 메소드는 결측치를 없는 데이터로 간주함!

## 수치형 데이터 타입 다루기
- ``pow``를 활용해 거듭제곱 계산 가능(=Native Python)

In [14]:
from pyspark.sql.functions import expr, pow

fabricatedQuantity = pow(col('Quantity')*col('UnitPrice'), 2) + 5 # Column으로 반환됨
df.select(expr('CustomerId'), fabricatedQuantity.alias('realQuantity')).show(5)

+----------+------------------+
|CustomerId|      realQuantity|
+----------+------------------+
|   17850.0|239.08999999999997|
|   17850.0|          418.7156|
|   17850.0|             489.0|
|   17850.0|          418.7156|
|   17850.0|          418.7156|
+----------+------------------+
only showing top 5 rows

In [15]:
# SQL 구문으로도 가능
df.selectExpr("CustomerId",
             "(POWER((Quantity * UnitPrice), 2) + 5) as realQuantity").show(5)

+----------+------------------+
|CustomerId|      realQuantity|
+----------+------------------+
|   17850.0|239.08999999999997|
|   17850.0|          418.7156|
|   17850.0|             489.0|
|   17850.0|          418.7156|
|   17850.0|          418.7156|
+----------+------------------+
only showing top 5 rows

- 반올림 메소드: ``round()``
- 내림 메소드: ``bround()``

In [16]:
from pyspark.sql.functions import lit, round, bround

# lit으로 스파크 자체 데이터 타입으로 변경
df.select(round(lit(2.5)), bround(lit(2.5))).show(5)

+-------------+--------------+
|round(2.5, 0)|bround(2.5, 0)|
+-------------+--------------+
|          3.0|           2.0|
|          3.0|           2.0|
|          3.0|           2.0|
|          3.0|           2.0|
|          3.0|           2.0|
+-------------+--------------+
only showing top 5 rows

- 두 수치형 변수간의 ``Pearson Correlation`` 계산하기

In [17]:
from pyspark.sql.functions import corr

df.stat.corr('Quantity', 'UnitPrice')

-0.04112314436835551

In [18]:
df.select(corr('Quantity', 'UnitPrice')).show()

+-------------------------+
|corr(Quantity, UnitPrice)|
+-------------------------+
|     -0.04112314436835551|
+-------------------------+

- 하나 이상의 수치형 칼럼에 대한 요약 통계 계산 방법
    * ``describe()`` 메서드 사용. 단, 통계 스키마가 변경될 수도 있으니 콘솔용에서 확인 가능
    * 정확한 통계수치를 보기 위해서는 통계 요약값 계산 메소드를 임포트

In [19]:
df.describe().show()

+-------+-----------------+------------------+--------------------+------------------+-------------------+------------------+------------------+--------------+
|summary|        InvoiceNo|         StockCode|         Description|          Quantity|        InvoiceDate|         UnitPrice|        CustomerID|       Country|
+-------+-----------------+------------------+--------------------+------------------+-------------------+------------------+------------------+--------------+
|  count|             3108|              3108|                3098|              3108|               3108|              3108|              1968|          3108|
|   mean| 536516.684944841|27834.304044117645|                null| 8.627413127413128|               null| 4.151946589446603|15661.388719512195|          null|
| stddev|72.89447869788873|17407.897548583845|                null|26.371821677029203|               null|15.638659854603892|1854.4496996893627|          null|
|    min|           536365|             10002| 4 PURPLE FLOCK D...|               -24|2010-12-01 08:26:00|               0.0|           12431.0|     Australia|
|    max|          C536548|              POST|ZINC WILLIE WINKI...|               600|2010-12-01 17:35:00|            607.49|           18229.0|United Kingdom|
+-------+-----------------+------------------+--------------------+------------------+-------------------+------------------+------------------+--------------+

In [20]:
from pyspark.sql.functions import count, max, min, mean, stddev_pop

- StatFunctions 패키지 활용해서도 가능. ``stat``속성으로 접근해서 사용가능한 DataFrame 메서드
    * ex) ``approxQuantile(column, probability, relativeError)``
        - ``probability``: 백분위(list/tuple)
        - ``relativeError``: 목표값과 얼마만큼의 에러차이를 허용할 것인지(만약 0으로 설정시 목표치와 매우 근사하지만 연산 비용이 많이듬(expensive)

In [21]:
df.stat.approxQuantile('UnitPrice', [0.5], 0.05)

[2.51]

- StatFunctions는 ``crosstab``(교차표) 기능도 제공

In [22]:
df.stat.crosstab('StockCode', 'Quantity').show()

+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|StockCode_Quantity| -1|-10|-12| -2|-24| -3| -4| -5| -6| -7|  1| 10|100| 11| 12|120|128| 13| 14|144| 15| 16| 17| 18| 19|192|  2| 20|200| 21|216| 22| 23| 24| 25|252| 27| 28|288|  3| 30| 32| 33| 34| 36|384|  4| 40|432| 47| 48|480|  5| 50| 56|  6| 60|600| 64|  7| 70| 72|  8| 80|  9| 96|
+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|             22578|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21327|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22064|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21080|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|
|             22219|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  3|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21908|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22818|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|           15056BL|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             72817|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22545|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22988|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|
|             22274|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             20750|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|            82616C|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21703|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22899|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|
|             22379|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22422|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  2|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22769|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             22585|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
only showing top 20 rows

In [23]:
df.stat.freqItems(['StockCode', 'Quantity']).show()

+--------------------+--------------------+
| StockCode_freqItems|  Quantity_freqItems|
+--------------------+--------------------+
|[90214E, 20728, 2...|[200, 128, 23, 32...|
+--------------------+--------------------+

- StatFunctions의 ``monotonically_increasing_id()``: 모든 로우에 unique한 ID값을 만들어줌

In [24]:
from pyspark.sql.functions import monotonically_increasing_id

df.select(monotonically_increasing_id()).show(5)

+-----------------------------+
|monotonically_increasing_id()|
+-----------------------------+
|                            0|
|                            1|
|                            2|
|                            3|
|                            4|
+-----------------------------+
only showing top 5 rows

- 이외 StatFunctions에는 다양한 고급 알고리즘 메소드도 제공을 함. 필요 시 공식문서 참조하기

## 문자열 데이터 타입 다루기

- ``initcap``: 주어진 문자열에서 공백으로 나뉘는 모든 단어의 첫 글자를 대문자로 변경
- ``upper``: 모든 문자를 대문자로
- ``lower``: 모든 문자를 소문자로

In [25]:
from pyspark.sql.functions import initcap

df.select(initcap(col('Description'))).show(5, truncate=False)

+-----------------------------------+
|initcap(Description)               |
+-----------------------------------+
|White Hanging Heart T-light Holder |
|White Metal Lantern                |
|Cream Cupid Hearts Coat Hanger     |
|Knitted Union Flag Hot Water Bottle|
|Red Woolly Hottie White Heart.     |
+-----------------------------------+
only showing top 5 rows

In [26]:
from pyspark.sql.functions import upper, lower

df.select(col('Description'),
         lower(col('Description')),
         upper(col('Description'))).show(5, truncate=False)

+-----------------------------------+-----------------------------------+-----------------------------------+
|Description                        |lower(Description)                 |upper(Description)                 |
+-----------------------------------+-----------------------------------+-----------------------------------+
|WHITE HANGING HEART T-LIGHT HOLDER |white hanging heart t-light holder |WHITE HANGING HEART T-LIGHT HOLDER |
|WHITE METAL LANTERN                |white metal lantern                |WHITE METAL LANTERN                |
|CREAM CUPID HEARTS COAT HANGER     |cream cupid hearts coat hanger     |CREAM CUPID HEARTS COAT HANGER     |
|KNITTED UNION FLAG HOT WATER BOTTLE|knitted union flag hot water bottle|KNITTED UNION FLAG HOT WATER BOTTLE|
|RED WOOLLY HOTTIE WHITE HEART.     |red woolly hottie white heart.     |RED WOOLLY HOTTIE WHITE HEART.     |
+-----------------------------------+-----------------------------------+-----------------------------------+
only showing top 5 rows

- 공백 제거하거나 추가하는 작업도 가능
    * ``ltrim, rtrim, lpad, rpad, trim``

In [27]:
from pyspark.sql.functions import lit, ltrim, rtrim, lpad, rpad, trim

hello_col = lit('  HELLO  ')
df.select(ltrim(hello_col),
         rtrim(hello_col),
         lpad(lit('HELLO'), 15, '#'),
         rpad(lit('HELLO'), 15, '$')).show()

+----------------+----------------+------------------+------------------+
|ltrim(  HELLO  )|rtrim(  HELLO  )|lpad(HELLO, 15, #)|rpad(HELLO, 15, $)|
+----------------+----------------+------------------+------------------+
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
|         HELLO  |           HELLO|   ##########HELLO|   HELLO$$$$$$$$$$|
+----------------+----------------+------------------+------------------+
only showing top 20 rows

### 문자열 - 정규표현식

- 스파크는 자바 정규 표현식이 가진 능력을 활용
- ``regexpr_extract``, ``regexpr_replace`` 메소드를 사용
    * ex) ``regexpr_replace(column, expression, replacement)``

In [28]:
from pyspark.sql.functions import regexp_replace

regex_string = 'BLACK|WHITE|RED|GREEN|BLUE' # | = or을 의미하는 듯!
df.select(regexp_replace(col('Description'), regex_string, 'COLOR').alias('color_clean'),
         col('Description')).show(5, truncate=False)

+-----------------------------------+-----------------------------------+
|color_clean                        |Description                        |
+-----------------------------------+-----------------------------------+
|COLOR HANGING HEART T-LIGHT HOLDER |WHITE HANGING HEART T-LIGHT HOLDER |
|COLOR METAL LANTERN                |WHITE METAL LANTERN                |
|CREAM CUPID HEARTS COAT HANGER     |CREAM CUPID HEARTS COAT HANGER     |
|KNITTED UNION FLAG HOT WATER BOTTLE|KNITTED UNION FLAG HOT WATER BOTTLE|
|COLOR WOOLLY HOTTIE COLOR HEART.   |RED WOOLLY HOTTIE WHITE HEART.     |
+-----------------------------------+-----------------------------------+
only showing top 5 rows

- 이번엔 정규표현식이 아닌 ``translate(column, 'string', 'replacement')``를 사용
    * 이 때 string 하나 자체를 replacement 단어로 교체하는 것이 아닌 한 문자열씨 매핑되서 치환됨(하단의 예시를 참고)

In [29]:
from pyspark.sql.functions import translate

df.select(translate(col('Description'), 'LEET', '1337'), # L -> 1, E -> 3, T -> 7로 치환됨
         col('Description')).show(5, truncate=False)

+-----------------------------------+-----------------------------------+
|translate(Description, LEET, 1337) |Description                        |
+-----------------------------------+-----------------------------------+
|WHI73 HANGING H3AR7 7-1IGH7 HO1D3R |WHITE HANGING HEART T-LIGHT HOLDER |
|WHI73 M37A1 1AN73RN                |WHITE METAL LANTERN                |
|CR3AM CUPID H3AR7S COA7 HANG3R     |CREAM CUPID HEARTS COAT HANGER     |
|KNI773D UNION F1AG HO7 WA73R BO7713|KNITTED UNION FLAG HOT WATER BOTTLE|
|R3D WOO11Y HO77I3 WHI73 H3AR7.     |RED WOOLLY HOTTIE WHITE HEART.     |
+-----------------------------------+-----------------------------------+
only showing top 5 rows

- ``regex_extract(column, expression, 추출할 index)``를 사용해 특정 문자열을 추출 가능
- 만약 해당 문자열이 없으면 빈 문자열을 반환함

In [30]:
from pyspark.sql.functions import regexp_extract

extract_str = '(BLACK|WHITE|RED|GREEN|BLUE)'
df.select(regexp_extract(col('Description'), extract_str, 1).alias('extract_str'),
         col('Description')).show(5, truncate=False)

+-----------+-----------------------------------+
|extract_str|Description                        |
+-----------+-----------------------------------+
|WHITE      |WHITE HANGING HEART T-LIGHT HOLDER |
|WHITE      |WHITE METAL LANTERN                |
|           |CREAM CUPID HEARTS COAT HANGER     |
|           |KNITTED UNION FLAG HOT WATER BOTTLE|
|RED        |RED WOOLLY HOTTIE WHITE HEART.     |
+-----------+-----------------------------------+
only showing top 5 rows

- 특정 문자열의 존재여부를 파악하기 위해서 ``contains``메서드를 사용할 수 있지만 Pyspark에서는 ``instr``로 대체사용
- 해당 메서드를 적용하면 불리언 타입으로 반환하기 때문에 row 필터링 작업이 가능함

In [31]:
from pyspark.sql.functions import instr

containsBlack = instr(col('Description'), 'BLACK') >= 1  # BLACK이 있는 인덱스가 1이상부터면 존재하는 것이나 마찬가지!(참고로 스파크는 인덱스가 1부터 시작!)
containsWhite = instr(col('Description'), 'WHITE') >= 1

df.withColumn('hasSimpleColor', containsBlack | containsWhite)\
  .where('hasSimpleColor')\
  .select('Description').show(3, False)

+----------------------------------+
|Description                       |
+----------------------------------+
|WHITE HANGING HEART T-LIGHT HOLDER|
|WHITE METAL LANTERN               |
|RED WOOLLY HOTTIE WHITE HEART.    |
+----------------------------------+
only showing top 3 rows

- 만약 필터링하고 싶은 문자열의 대상들이 여러개 또는 동적으로 변할때 ``locate`` 메소드를 활용해 다음과 같이 구현할 수 있음
    * ``locate(substr, column)``: 문자열의 위치 인덱스(1부터 시작)를 정수로 반환
- ``cast``: 특정 타입으로 변환(Tensorflow의 ``cast``와 역할 비슷)

In [32]:
from pyspark.sql.functions import expr, locate

simpleColors = ['black', 'white', 'red', 'green', 'blue']

def color_locator(column, color_string):
    return locate(color_string.upper(), column)\
           .cast("boolean")\
           .alias('is_' + color_string)

In [33]:
selectedColumns = [color_locator(df['Description'], c) for c in simpleColors]
selectedColumns.append(expr('*')) # 이를 추가안하고 select 구문에 넣으면 Boolean 타입으로 들어감
selectedColumns

[Column<b'CAST(locate(BLACK, Description, 1) AS BOOLEAN) AS `is_black`'>,
 Column<b'CAST(locate(WHITE, Description, 1) AS BOOLEAN) AS `is_white`'>,
 Column<b'CAST(locate(RED, Description, 1) AS BOOLEAN) AS `is_red`'>,
 Column<b'CAST(locate(GREEN, Description, 1) AS BOOLEAN) AS `is_green`'>,
 Column<b'CAST(locate(BLUE, Description, 1) AS BOOLEAN) AS `is_blue`'>,
 Column<b'unresolvedstar()'>]

In [34]:
# white or red가 True인 행들만
df.select(*selectedColumns)\
  .where(expr('is_white OR is_red'))\
  .select('Description').show(5, False)

+----------------------------------+
|Description                       |
+----------------------------------+
|WHITE HANGING HEART T-LIGHT HOLDER|
|WHITE METAL LANTERN               |
|RED WOOLLY HOTTIE WHITE HEART.    |
|HAND WARMER RED POLKA DOT         |
|RED COAT RACK PARIS FASHION       |
+----------------------------------+
only showing top 5 rows

## 날짜와 타임스탬프 데이터 타입 다루기
- 스파크는 두 가지 종류의 시간 관련 정보만 집중적으로 관리
    * ``date``: 달력 형태의 날짜
    * ``timestamp``: 날짜와 시간 정보를 모두 가지는 정보
- 보통 스파크는 ``inferSchema`` 옵션이 active할 때는 날짜와 타임스탬프 데이터 타입을 최대한 정확하게 식별하려 함
- 스파크의 ``TimestampType``클래스는 초(second) 단위까지만 정밀도를 제공. 만약 밀리세컨드, 마이크로세컨드 단위를 다루려면 해당 타임스탬프 데이터를 ``Long`` 타입으로 변환해서 처리하는 우회 정책이 필요

In [35]:
from pyspark.sql.functions import current_date, current_timestamp

dateDF = spark.range(10)\
              .withColumn('today', current_date())\
              .withColumn('now', current_timestamp())
dateDF.createOrReplaceTempView('dataTable')
dateDF.printSchema()

root
 |-- id: long (nullable = false)
 |-- today: date (nullable = false)
 |-- now: timestamp (nullable = false)

- 금일 기준으로 전후 5일 날짜를 구하기
    * ``date_add(column, num of days)``, ``date_sub`` 메소드 사용

In [36]:
from pyspark.sql.functions import date_add, date_sub

dateDF.select(date_add(col('today'), 5), date_sub(col('today'), 5)).show(5, truncate=False)

+------------------+------------------+
|date_add(today, 5)|date_sub(today, 5)|
+------------------+------------------+
|2021-06-12        |2021-06-02        |
|2021-06-12        |2021-06-02        |
|2021-06-12        |2021-06-02        |
|2021-06-12        |2021-06-02        |
|2021-06-12        |2021-06-02        |
+------------------+------------------+
only showing top 5 rows

- 두 날짜 사이의 일 수를 반환하는 ``datediff``
- 두 날짜 사이의 개월 수를 반환하는 ``months_between``

In [37]:
from pyspark.sql.functions import datediff, months_between

dateDF.withColumn('week_ago', date_sub(col('today'), 7))\
      .select(datediff(col('today'), col('week_ago'))).show(5, False)

+-------------------------+
|datediff(today, week_ago)|
+-------------------------+
|7                        |
|7                        |
|7                        |
|7                        |
|7                        |
+-------------------------+
only showing top 5 rows

In [38]:
from pyspark.sql.functions import to_date # date 데이터로 만드는 메소드 -> format 지정시 자바의 SimpleDateFormat 클래스가 지원하는 포맷을 사용!

dateDF.select(to_date(lit('2016-01-01')).alias('start'),
             to_date(lit('2018-10-10')).alias('end'))\
      .select(months_between(col('start'), col('end'))).show(1)

+--------------------------------+
|months_between(start, end, true)|
+--------------------------------+
|                    -33.29032258|
+--------------------------------+
only showing top 1 row

- 데이터 포맷 지정을 사용해서 ``월-일``이 바뀐 날짜를 디버깅하는 방법
    * ``to_date``는 데이터 포맷 지정이 옵션
    * ``to_timestamp``는 데이터 포맷 지정이 필수

In [39]:
# 날짜 파싱 불가하면 Null을 반환. 원하는 형태는 2017년 11월 12일!
dateDF.select(to_date(lit('2016-20-12')), to_date(lit('2017-12-11'))).show(1)

+---------------------+---------------------+
|to_date('2016-20-12')|to_date('2017-12-11')|
+---------------------+---------------------+
|                 null|           2017-12-11|
+---------------------+---------------------+
only showing top 1 row

In [40]:
# 그런데 12월 11일로 나옴 -> 데이터 포맷을 지정하자!
from pyspark.sql.functions import to_date

dateFormat = 'yyyy-dd-MM'
clenaDateDF = spark.range(1)\
                   .withColumn('dateA', to_date(lit('2016-20-12'), dateFormat))\
                   .withColumn('dateB', to_date(lit('2017-12-11'), dateFormat))\
                   .select('dateA', 'dateB').show()
# cleanDateDF = spark.range(1)\
#                    .select(to_date(lit('2016-20-12'), dateFormat).ailas('dateA'),
#                            to_date(lit('2017-12-11'), dateFormat).alias('dateB'))

+----------+----------+
|     dateA|     dateB|
+----------+----------+
|2016-12-20|2017-11-12|
+----------+----------+

In [41]:
# to_timestamp
from pyspark.sql.functions import to_timestamp

clenaDateDF = spark.range(1)\
                   .withColumn('dateA', to_timestamp(lit('2016-20-12'), dateFormat))\
                   .withColumn('dateB', to_date(lit('2017-12-11'), dateFormat))\
                   .select('dateA', 'dateB').show()

+-------------------+----------+
|              dateA|     dateB|
+-------------------+----------+
|2016-12-20 00:00:00|2017-11-12|
+-------------------+----------+

- 날짜 비교도 가능

In [42]:
cleanDateDF = spark.range(1)\
     .select(to_date(lit('2017-20-12'), dateFormat).alias('date'),
            to_date(lit('2016-11-12'), dateFormat).alias('date2'))

In [43]:
cleanDateDF.filter(col('date2') > lit('2020-01-01')).show()

+----+-----+
|date|date2|
+----+-----+
+----+-----+

- ``lit``사용 대신 스파크가 리터럴로 인식하는 문자열을 지정해 날짜를 비교할 수 있음(홑따옴표로!)

In [44]:
cleanDateDF.filter(col('date2') > "'2020-01-01'").show()

+----+-----+
|date|date2|
+----+-----+
+----+-----+

## ``null`` 값  다루기
- 스파크에서는 ``null``값을 사용해야 최적화를 수행할 수 있음
- 참고로 스키마의 모든 칼럼이 ``null``값을 허용하지 않다 하더라도 칼럼에 ``null``값을 넣을 수 있음. 그래서 만약 ``null``값이 없어야 하는 칼럼에 ``nul``값이 존재한다면 부정확한 결과나 디버깅하기 어려운 에러가 발생함..

### ``coalesce``
- 해당 메소드 인자로 지정한 여러 칼럼 중 ``null``이 아닌 첫번째 값을 반환함
- 만약 모든 칼럼이 ``null`` 값이 없다면 첫 번째 칼럼의 값을 반환함

In [45]:
from pyspark.sql.functions import coalesce

df.select(coalesce(col('Description'), col('CustomerId'))).show()

+---------------------------------+
|coalesce(Description, CustomerId)|
+---------------------------------+
|             WHITE HANGING HEA...|
|              WHITE METAL LANTERN|
|             CREAM CUPID HEART...|
|             KNITTED UNION FLA...|
|             RED WOOLLY HOTTIE...|
|             SET 7 BABUSHKA NE...|
|             GLASS STAR FROSTE...|
|             HAND WARMER UNION...|
|             HAND WARMER RED P...|
|             ASSORTED COLOUR B...|
|             POPPY'S PLAYHOUSE...|
|             POPPY'S PLAYHOUSE...|
|             FELTCRAFT PRINCES...|
|             IVORY KNITTED MUG...|
|             BOX OF 6 ASSORTED...|
|             BOX OF VINTAGE JI...|
|             BOX OF VINTAGE AL...|
|             HOME BUILDING BLO...|
|             LOVE BUILDING BLO...|
|             RECIPE BOX WITH M...|
+---------------------------------+
only showing top 20 rows

- Description 칼럼에 대한 값을 반환하는 거 보니 모든 칼럼에 대해 ``null``값이 존재하지 않다는 것을 의미

### ``ifnull, nullif, nvl, nvl2``
- ``ifnull(null, 'return_value')`` => 첫 번째 값이 null이면 두번째, null이 아니라면 첫 번째 값을 반환
- ``nullif('value', 'value')`` => 두 값이 같으면 Null을 반환
- ``nvl(null, 'return_value')`` => 첫 번째 값이 null이면 두 번재값을 반환... 즉, ``ifnull``이랑 동일
- ``nvl2(not_null, 'return_value', 'else_value')`` => 첫 번째 값이 null이 아니면 두번째값을 반환하고, Null이면 세번째 값을 반환

### ``drop``

In [47]:
df.na.drop()
df.na.drop('any')  # 하나의 na라도 있으면 제거
df.na.drop('all')  # 모든 칼럼에 대해 na값이 있는 로우들만 제거

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: double, Country: string]

In [46]:
# drop인자에 array 형태로 칼럼명을 전달해서 결측치 제거할 수 있음
df.na.drop('all', subset=['StockCode', 'InvoiceNo'])

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: double, Country: string]

### ``fill``

In [48]:
df.na.fill("All Null values become this string")

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: double, Country: string]

In [50]:
df.na.fill('all', subset=['StockCode', 'InvoiceNo'])

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: double, Country: string]

In [53]:
# Python의 딕셔너리를 이용해서도 가능
fill_dict = {'StockCode': 5, 'Description': 'Hello world'}
df.na.fill(fill_dict)

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: double, Country: string]

### ``replace``
- 단, 변경하고자하는 값과 이전 값의 데이터 타입이 동일해야 함
- ``df.na.replace([이전값], [바꿀값], "column_name")``

In [54]:
df.na.replace([""], ["Unknown"], "Description")

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: double, Country: string]

- ``asc_nulls_first, desc_nulls_first, asc_nulls_last, desc_nulls_last`` 메소드를 통해 결측치를 포함하는 로우들을 정렬 가능함

## 복합 데이터 타입 다루기
### 구조체
- 구조체: DataFrame 내부의 DataFrame. 쿼리문에서 다수의 칼럼을 괄호로 묶어 구조체를 만들 수 있음
    * 일반적인 DataFrame 조회하는 것처럼 사용가능 단, 문법에 ``.``을 사용하거나 ``getField`` 메서드를 사용
    * 또, ``*``를 사용해 모든 값을 조회할 수 있음

In [56]:
from pyspark.sql.functions import struct

complexDF = df.select(struct("Description", "InvoiceNo").alias("complex"))
complexDF.createOrReplaceTempView("complexDF")
complexDF.show(5, truncate=False)

+---------------------------------------------+
|complex                                      |
+---------------------------------------------+
|[WHITE HANGING HEART T-LIGHT HOLDER, 536365] |
|[WHITE METAL LANTERN, 536365]                |
|[CREAM CUPID HEARTS COAT HANGER, 536365]     |
|[KNITTED UNION FLAG HOT WATER BOTTLE, 536365]|
|[RED WOOLLY HOTTIE WHITE HEART., 536365]     |
+---------------------------------------------+
only showing top 5 rows

In [59]:
complexDF.select("complex.Description").show(2, truncate=False)

+----------------------------------+
|Description                       |
+----------------------------------+
|WHITE HANGING HEART T-LIGHT HOLDER|
|WHITE METAL LANTERN               |
+----------------------------------+
only showing top 2 rows

In [60]:
complexDF.select(col("complex").getField('Description')).show(2, truncate=False)

+----------------------------------+
|complex.Description               |
+----------------------------------+
|WHITE HANGING HEART T-LIGHT HOLDER|
|WHITE METAL LANTERN               |
+----------------------------------+
only showing top 2 rows

In [61]:
complexDF.select("complex.*").show(5, truncate=False)

+-----------------------------------+---------+
|Description                        |InvoiceNo|
+-----------------------------------+---------+
|WHITE HANGING HEART T-LIGHT HOLDER |536365   |
|WHITE METAL LANTERN                |536365   |
|CREAM CUPID HEARTS COAT HANGER     |536365   |
|KNITTED UNION FLAG HOT WATER BOTTLE|536365   |
|RED WOOLLY HOTTIE WHITE HEART.     |536365   |
+-----------------------------------+---------+
only showing top 5 rows

### 배열

In [63]:
# 우선 split 메소드를 사용해 배열로 변환
from pyspark.sql.functions import split

df.select(split(col("Description"), " ")).show(2, truncate=False)

+----------------------------------------+
|split(Description,  , -1)               |
+----------------------------------------+
|[WHITE, HANGING, HEART, T-LIGHT, HOLDER]|
|[WHITE, METAL, LANTERN]                 |
+----------------------------------------+
only showing top 2 rows

In [65]:
# 파이썬 인덱싱 문법과 유사하게 split한 배열의 특정 요소에 접근이 가능
df.select(split(col("Description"), " ").alias("array_col"))\
  .selectExpr("array_col[1]").show(2, truncate=False)

+------------+
|array_col[1]|
+------------+
|HANGING     |
|METAL       |
+------------+
only showing top 2 rows

In [66]:
# 배열의 길이 알아내기
from pyspark.sql.functions import size

df.select(size(split(col("Description"), " "))).show(2, truncate=False)

+-------------------------------+
|size(split(Description,  , -1))|
+-------------------------------+
|5                              |
|3                              |
+-------------------------------+
only showing top 2 rows

In [67]:
# 배열에 특정 값이 존재하는지 확인 가능
from pyspark.sql.functions import array_contains

df.select(array_contains(split(col("Description"), " "), 'WHITE')).show(3, truncate=False)

+------------------------------------------------+
|array_contains(split(Description,  , -1), WHITE)|
+------------------------------------------------+
|true                                            |
|true                                            |
|false                                           |
+------------------------------------------------+
only showing top 3 rows

- ``array_contains``는 단순히 Boolean 타입으로만 반환함. 이를 로우로 변환시켜주기 위해서는 ``explode``를 사용!
    * ``explode``인자로 배열 타입의 칼럼을 입력받음

In [69]:
from pyspark.sql.functions import split, explode

df.withColumn('splitted', split(col('Description'), " "))\
  .withColumn('exploded', explode(col('splitted')))\
  .select("Description", "InvoiceNo", "exploded").show(2, truncate=False)

+----------------------------------+---------+--------+
|Description                       |InvoiceNo|exploded|
+----------------------------------+---------+--------+
|WHITE HANGING HEART T-LIGHT HOLDER|536365   |WHITE   |
|WHITE HANGING HEART T-LIGHT HOLDER|536365   |HANGING |
+----------------------------------+---------+--------+
only showing top 2 rows

### ``map``
- 맵함수와 칼럼의 키-값 쌍을 이용해 생성

In [70]:
from pyspark.sql.functions import create_map

df.select(create_map(col("Description"), col("InvoiceNo")).alias("complex_map"))\
  .show(2, truncate=False)

+----------------------------------------------+
|complex_map                                   |
+----------------------------------------------+
|[WHITE HANGING HEART T-LIGHT HOLDER -> 536365]|
|[WHITE METAL LANTERN -> 536365]               |
+----------------------------------------------+
only showing top 2 rows

- 위 그림에서 [key- value] 가 됨
- 그래서 key를 이용해 그 key에 매핑된 value 조회 가능

In [74]:
df.select(create_map(col("Description"), col("InvoiceNo")).alias("complex_map"))\
  .selectExpr("complex_map['WHITE METAL LANTERN']").show(2, truncate=False)

+--------------------------------+
|complex_map[WHITE METAL LANTERN]|
+--------------------------------+
|null                            |
|536365                          |
+--------------------------------+
only showing top 2 rows

- 해당 키가 없다면 ``null``을 반환함! 즉, 모든 row에 대해 각각 다 비교한 다음 키가 없다는 의미로 ``null``을 반환

- 위와 같이 ``map``타입은 ``explode``를 사용해 key-value를 칼럼별로 따로 떼어놓게 변환 가능

In [75]:
df.select(create_map(col("Description"), col("InvoiceNo")).alias("complex_map"))\
  .selectExpr("explode(complex_map)").show(2, truncate=False)

+----------------------------------+------+
|key                               |value |
+----------------------------------+------+
|WHITE HANGING HEART T-LIGHT HOLDER|536365|
|WHITE METAL LANTERN               |536365|
+----------------------------------+------+
only showing top 2 rows