<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
path = '/Users/younghun/Desktop/gitrepo/data/titanic/train.csv'

spark_df = spark.read.csv(path, header=True, inferSchema=True)
spark_df.limit(num=5).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

In [2]:
path = '/Users/younghun/Desktop/gitrepo/data/titanic/train.csv'

spark_df = spark.read.csv(path, header=True, inferSchema=True)
row = spark_df.head()

print(row)
print()
print('row의 PassengerId:', row['PassengerId'], row.PassengerId)

Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S')

row의 PassengerId: 1 1

In [3]:
path = '/Users/younghun/Desktop/gitrepo/data/titanic/train.csv'

spark_df = spark.read.csv(path, header=True, inferSchema=True)

# 1. head()에 인자로 아무것도 안 줄 때
row = spark_df.head()
print('row:', row)
print()
# 2. head()에 인자로 1을 줄 때
row2 = spark_df.head(1)
print('row2:', row2)
print()
# 3. head()에 인자로 3을 줄 때
row3 = spark_df.head(3)
print('row3:', row3)

row: Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S')

row2: [Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S')]

row3: [Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'), Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'), Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S')]

In [4]:
spark_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [5]:
spark_df.dtypes

[('PassengerId', 'int'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'double'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [6]:
spark_df.describe()

DataFrame[summary: string, PassengerId: string, Survived: string, Pclass: string, Name: string, Sex: string, Age: string, SibSp: string, Parch: string, Ticket: string, Fare: string, Cabin: string, Embarked: string]

In [7]:
num_cols = [name for name, dtype in spark_df.dtypes if dtype != 'string']

spark_df.select(*num_cols).describe().show()

+-------+-----------------+-------------------+------------------+------------------+------------------+-------------------+-----------------+
|summary|      PassengerId|           Survived|            Pclass|               Age|             SibSp|              Parch|             Fare|
+-------+-----------------+-------------------+------------------+------------------+------------------+-------------------+-----------------+
|  count|              891|                891|               891|               714|               891|                891|              891|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642| 29.69911764705882|0.5230078563411896|0.38159371492704824| 32.2042079685746|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|14.526497332334035|1.1027434322934315| 0.8060572211299488|49.69342859718089|
|    min|                1|                  0|                 1|              0.42|                 0|                  0|              0.0|
|    max|              891|                  1|                 3|              80.0|                 8|                  6|         512.3292|
+-------+-----------------+-------------------+------------------+------------------+------------------+-------------------+-----------------+

In [8]:
# 행 개수 구하기
print('행 개수:', spark_df.count())

# 열 개수 구하기
print('열 개수:', len(spark_df.columns))

행 개수: 891
열 개수: 12

In [9]:
from pyspark.sql.functions import col

# 모든 칼럼 추출하기
spark_df.select('*').limit(3).show()

# Age라는 칼럼 하나만 추출하기
spark_df.select('Age').limit(3).show()
spark_df.select(['Age']).limit(3).show()
spark_df.select(spark_df['Age']).limit(3).show()
spark_df.select(spark_df.Age).limit(3).show()
spark_df.select(col('Age')).limit(3).show()

# 여러개의 칼럼을 동시에 추출하기
spark_df.select('Name', 'Age').limit(3).show()
spark_df.select(['Name', 'Age']).limit(3).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

+----+
| Age|
+----+
|22.0|
|38.0|
|26.0|
+----+

+----+
| Age|
+----+
|22.0|
|38.0|
|26.0|
+----+

+----+
| Age|
+----+
|22.0|
|38.0|
|26.0|
+----+

+----+
| Age|
+----+
|22.0|
|38.0|
|26.0|
+----+

+----+
| Age|
+----+
|22.0|
|38.0|
|26.0|
+----+

+--------------------+----+
|                Name| Age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Cumings, Mrs. Joh...|38.0|
|Heikkinen, Miss. ...|26.0|
+--------------------+----+

+--------------------+----+
|                Name| Age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Cumings, Mrs. Joh...|38.0|
|Heikkinen, Miss. ...|26.0|
+--------------------+----+

In [10]:
from pyspark.sql.functions import max, min, avg
from pyspark.sql.functions import upper, lower


spark_df.select(max('Age').alias('Max_Age')).show()
spark_df.select(min('Pclass').alias('Min_Pclass')).show()
spark_df.select(avg('Age').alias('Avg_Age')).show()
spark_df.select(upper('Name').alias('Upper_Name')).limit(3).show()
# 모든 칼럼과 변환을 준 칼럼 동시에 추출
spark_df.select('*', lower(col('Name')).alias('Lower_Name')).limit(3).show()

+-------+
|Max_Age|
+-------+
|   80.0|
+-------+

+----------+
|Min_Pclass|
+----------+
|         1|
+----------+

+-----------------+
|          Avg_Age|
+-----------------+
|29.69911764705882|
+-----------------+

+--------------------+
|          Upper_Name|
+--------------------+
|BRAUND, MR. OWEN ...|
|CUMINGS, MRS. JOH...|
|HEIKKINEN, MISS. ...|
+--------------------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|          Lower_Name|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|braund, mr. owen ...|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|cumings, mrs. joh...|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|heikkinen, miss. ...|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------------------+

In [12]:
path = '/Users/younghun/Desktop/gitrepo/data/titanic/train.csv'

spark_df = spark.read.csv(path, header=True, inferSchema=True)

# filter 메소드안에는 Column type을 넣어주어야 함!
spark_df.filter(col('Age') > 25).limit(5).show()
spark_df.filter(spark_df['Age'] > 25).limit(5).show()
spark_df.filter(spark_df.Age > 25).limit(5).show()

# error 발생!
#spark_df.filter('Age' > 25).limit(5).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

In [ ]:
print(type(spark_df['Age']), type(spark_df.Age), type(col('Age')))

In [ ]:
spark_df.where(col('Age') > 25).limit(5).show()
spark_df.where(spark_df['Age'] > 25).limit(5).show()
spark_df.where(spark_df.Age > 25).limit(5).show()

In [ ]:
spark_df.filter("Age > 25").limit(5).show()
spark_df.where("Age > 25").limit(5).show()

In [13]:
from pyspark.sql.functions import col

cond1 = col('Age') > 25
cond2 = col('Embarked') != 'S'

spark_df.filter(cond1 & cond2).limit(5).show()
spark_df.where(cond1 | cond2).limit(5).show()

+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|  Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|PC 17599|71.2833|  C85|       C|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|PC 17601|27.7208| null|       C|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|PC 17604|82.1708| null|       C|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|PC 17572|76.7292|  D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|  113509|61.9792|  B30|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+--------+-------+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

In [ ]:
spark_df.filter(col('Name').like('%Mr.%')).limit(5).show()
spark_df.where("Name LIKE '%Mr.%'").limit(5).show()

In [14]:
# orderBy -> 단일 칼럼 기준으로 정렬
spark_df.orderBy("PassengerId", ascending=False).limit(5).show()
spark_df.orderBy(col('PassengerId'), ascending=False).limit(5).show()
spark_df.orderBy(col('PassengerId').desc()).limit(5).show()

# orderBy -> 복수 칼럼 기준으로 정렬
spark_df.orderBy("PassengerId", "Age", ascending=[True, False]).limit(5).show()
spark_df.orderBy(col("PassengerId"), col("Age"), ascending=[True, False]).limit(5).show()
spark_df.orderBy(col("PassengerId").asc(), col("Age").desc()).limit(5).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket| Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+
|        891|       0|     3| Dooley, Mr. Patrick|  male|32.0|    0|    0|    370376| 7.75| null|       Q|
|        890|       1|     1|Behr, Mr. Karl Ho...|  male|26.0|    0|    0|    111369| 30.0| C148|       C|
|        889|       0|     3|"Johnston, Miss. ...|female|null|    1|    2|W./C. 6607|23.45| null|       S|
|        888|       1|     1|Graham, Miss. Mar...|female|19.0|    0|    0|    112053| 30.0|  B42|       S|
|        887|       0|     2|Montvila, Rev. Ju...|  male|27.0|    0|    0|    211536| 13.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket| Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+
|        891|       0|     3| Dooley, Mr. Patrick|  male|32.0|    0|    0|    370376| 7.75| null|       Q|
|        890|       1|     1|Behr, Mr. Karl Ho...|  male|26.0|    0|    0|    111369| 30.0| C148|       C|
|        889|       0|     3|"Johnston, Miss. ...|female|null|    1|    2|W./C. 6607|23.45| null|       S|
|        888|       1|     1|Graham, Miss. Mar...|female|19.0|    0|    0|    112053| 30.0|  B42|       S|
|        887|       0|     2|Montvila, Rev. Ju...|  male|27.0|    0|    0|    211536| 13.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket| Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+
|        891|       0|     3| Dooley, Mr. Patrick|  male|32.0|    0|    0|    370376| 7.75| null|       Q|
|        890|       1|     1|Behr, Mr. Karl Ho...|  male|26.0|    0|    0|    111369| 30.0| C148|       C|
|        889|       0|     3|"Johnston, Miss. ...|female|null|    1|    2|W./C. 6607|23.45| null|       S|
|        888|       1|     1|Graham, Miss. Mar...|female|19.0|    0|    0|    112053| 30.0|  B42|       S|
|        887|       0|     2|Montvila, Rev. Ju...|  male|27.0|    0|    0|    211536| 13.0| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+-----+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+

In [15]:
select_cols = ["PassengerId", "Survived", "Name", "Age", "Sex"]
filter_cond = col("Age") > 35

spark_df.select(*select_cols) \
        .filter(filter_cond) \
        .orderBy("Age", "PassengerId", ascending=[False, True]) \
        .show()

+-----------+--------+--------------------+----+------+
|PassengerId|Survived|                Name| Age|   Sex|
+-----------+--------+--------------------+----+------+
|        631|       1|Barkworth, Mr. Al...|80.0|  male|
|        852|       0| Svensson, Mr. Johan|74.0|  male|
|         97|       0|Goldschmidt, Mr. ...|71.0|  male|
|        494|       0|Artagaveytia, Mr....|71.0|  male|
|        117|       0|Connors, Mr. Patrick|70.5|  male|
|        673|       0|Mitchell, Mr. Hen...|70.0|  male|
|        746|       0|Crosby, Capt. Edw...|70.0|  male|
|         34|       0|Wheadon, Mr. Edwa...|66.0|  male|
|         55|       0|Ostby, Mr. Engelh...|65.0|  male|
|        281|       0|    Duane, Mr. Frank|65.0|  male|
|        457|       0|Millet, Mr. Franc...|65.0|  male|
|        439|       0|   Fortune, Mr. Mark|64.0|  male|
|        546|       0|Nicholson, Mr. Ar...|64.0|  male|
|        276|       1|Andrews, Miss. Ko...|63.0|female|
|        484|       1|Turkula, Mrs. (He...|63.0|female|
|        253|       0|Stead, Mr. Willia...|62.0|  male|
|        556|       0|  Wright, Mr. George|62.0|  male|
|        571|       1|  Harris, Mr. George|62.0|  male|
|        830|       1|Stone, Mrs. Georg...|62.0|female|
|        171|       0|Van der hoef, Mr....|61.0|  male|
+-----------+--------+--------------------+----+------+
only showing top 20 rows

In [17]:
spark_df.groupBy("Survived").max("Age").show()
spark_df.groupBy(col("Survived")).max("Age").show()
spark_df.groupBy(spark_df.Survived).max().show()  # 모든 칼럼에 대해 max 집계 됨

+--------+--------+
|Survived|max(Age)|
+--------+--------+
|       1|    80.0|
|       0|    74.0|
+--------+--------+

+--------+--------+
|Survived|max(Age)|
+--------+--------+
|       1|    80.0|
|       0|    74.0|
+--------+--------+

+--------+----------------+-------------+-----------+--------+----------+----------+---------+
|Survived|max(PassengerId)|max(Survived)|max(Pclass)|max(Age)|max(SibSp)|max(Parch)|max(Fare)|
+--------+----------------+-------------+-----------+--------+----------+----------+---------+
|       1|             890|            1|          3|    80.0|         4|         5| 512.3292|
|       0|             891|            0|          3|    74.0|         8|         6|    263.0|
+--------+----------------+-------------+-----------+--------+----------+----------+---------+

In [19]:
# 여러 칼럼을 기준으로 그룹핑
spark_df.groupBy("Sex", "Survived").max("Age").show()
spark_df.groupBy(["Sex", "Survived"]).max("Age").show()  # 리스트 형태로 넣어도 정상동작함

+------+--------+--------+
|   Sex|Survived|max(Age)|
+------+--------+--------+
|  male|       0|    74.0|
|female|       1|    63.0|
|female|       0|    57.0|
|  male|       1|    80.0|
+------+--------+--------+

+------+--------+--------+
|   Sex|Survived|max(Age)|
+------+--------+--------+
|  male|       0|    74.0|
|female|       1|    63.0|
|female|       0|    57.0|
|  male|       1|    80.0|
+------+--------+--------+

In [18]:
spark_df.groupBy(col("Sex"), col("Survived")) \
        .agg(max("Age").alias("Max_Age"),
            min("Age").alias("Min_Age"),
            avg("Fare").alias("Avg_Fare")) \
        .show()

+------+--------+-------+-------+------------------+
|   Sex|Survived|Max_Age|Min_Age|          Avg_Fare|
+------+--------+-------+-------+------------------+
|  male|       0|   74.0|    1.0|21.960992948717944|
|female|       1|   63.0|   0.75| 51.93857339055791|
|female|       0|   57.0|    2.0| 23.02438518518519|
|  male|       1|   80.0|   0.42| 40.82148440366974|
+------+--------+-------+-------+------------------+

In [28]:
from pyspark.sql.functions import avg

# 스파크에서 데이터프레임 복사본을 만들기 위해서는 아래와 같이 수행
copy_df = spark_df.select("*")

# Age에다가 평균나이를 더해보자
avg_age = copy_df.select(avg(col("Age"))).first()[0]
new_age_df = copy_df.withColumn("New_Age", col("Age") + avg_age)
new_age_df.limit(5).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|          New_Age|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|51.69911764705882|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|67.69911764705881|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|55.69911764705882|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|64.69911764705881|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|64.69911764705881|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------------+

In [30]:
from pyspark.sql.functions import lit

copy_df = spark_df.withColumn("Age", lit(0))
copy_df.show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|  0|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|  0|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|  0|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [37]:
copy_df = spark_df.withColumn("Embarked", lit("ZZZ"))

In [46]:
from pyspark.sql.functions import substring, split

spark_df.withColumn("New1", substring(col("Name"), 4, 2)) \
        .withColumn("New2", split(col("Name"), " ").getItem(0)) \
        .select("Name", "New1", "New2").show()

+--------------------+----+------------+
|                Name|New1|        New2|
+--------------------+----+------------+
|Braund, Mr. Owen ...|  un|     Braund,|
|Cumings, Mrs. Joh...|  in|    Cumings,|
|Heikkinen, Miss. ...|  kk|  Heikkinen,|
|Futrelle, Mrs. Ja...|  re|   Futrelle,|
|Allen, Mr. Willia...|  en|      Allen,|
|    Moran, Mr. James|  an|      Moran,|
|McCarthy, Mr. Tim...|  ar|   McCarthy,|
|Palsson, Master. ...|  ss|    Palsson,|
|Johnson, Mrs. Osc...|  ns|    Johnson,|
|Nasser, Mrs. Nich...|  se|     Nasser,|
|Sandstrom, Miss. ...|  ds|  Sandstrom,|
|Bonnell, Miss. El...|  ne|    Bonnell,|
|Saundercock, Mr. ...|  nd|Saundercock,|
|Andersson, Mr. An...|  er|  Andersson,|
|Vestrom, Miss. Hu...|  tr|    Vestrom,|
|Hewlett, Mrs. (Ma...|  le|    Hewlett,|
|Rice, Master. Eugene|  e,|       Rice,|
|Williams, Mr. Cha...|  li|   Williams,|
|Vander Planke, Mr...|  de|      Vander|
|Masselmani, Mrs. ...|  se| Masselmani,|
+--------------------+----+------------+
only showing top 20 rows

In [54]:
spark_df.drop("Pclass").show()
spark_df.drop(col("Pclass")).show()

spark_df.drop("Pclass", "Name").show()

# 아래의 두 경우는 error 발생
# spark_df.drop(["Pclass", "Name"]).show()  
# spark_df.drop(col("Pclass"), col("Name")).show()

+-----------+--------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

+-----------+--------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

+-----------+--------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

TypeError: each col in the param list should be a string

In [55]:
spark_df.dropna(subset=["Age", "Embarked"]).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0| null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|  D56|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923| 8.0292| null|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [56]:
spark_df.filter(col("Age").isNull()).show()

+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|         Ticket|    Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|         330877|  8.4583| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|         244373|    13.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|           2649|   7.225| null|       C|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|           2631|   7.225| null|       C|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|null|    0|    0|         330959|  7.8792| null|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|null|    0|    0|         349216|  7.8958| null|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|       PC 17569|146.5208|  B78|       C|
|         33|       1|     3|Glynn, Miss. Mary...|female|null|    0|    0|         335677|    7.75| null|       Q|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|           2677|  7.2292| null|       C|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|null|    0|    0|         349253|  7.8958| null|       C|
|         46|       0|     3|Rogers, Mr. Willi...|  male|null|    0|    0|S.C./A.4. 23567|    8.05| null|       S|
|         47|       0|     3|   Lennon, Mr. Denis|  male|null|    1|    0|         370371|    15.5| null|       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|null|    0|    0|          14311|    7.75| null|       Q|
|         49|       0|     3| Samaan, Mr. Youssef|  male|null|    2|    0|           2662| 21.6792| null|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|null|    0|    0|          19947|    35.5|  C52|       S|
|         65|       0|     1|Stewart, Mr. Albe...|  male|null|    0|    0|       PC 17605| 27.7208| null|       C|
|         66|       1|     3|Moubarek, Master....|  male|null|    1|    1|           2661| 15.2458| null|       C|
|         77|       0|     3|   Staneff, Mr. Ivan|  male|null|    0|    0|         349208|  7.8958| null|       S|
|         78|       0|     3|Moutal, Mr. Raham...|  male|null|    0|    0|         374746|    8.05| null|       S|
|         83|       1|     3|McDermott, Miss. ...|female|null|    0|    0|         330932|  7.7875| null|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+---------------+--------+-----+--------+
only showing top 20 rows

In [57]:
from pyspark.sql.functions import isnan

spark_df.where(isnan(col("Age"))).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

In [59]:
import numpy as np
import pandas as pd

data = {"name": ["jo", "lee"],
       "age": [28, None]}
pd.DataFrame(data)

  name   age
0   jo  28.0
1  lee   NaN

In [68]:
from pyspark.sql.functions import count, when

cond = [count(when(col(c).isNull(), c)).alias(f"{c}_null_cnt") for c in spark_df.columns]
spark_df.select(cond).show()

+--------------------+-----------------+---------------+-------------+------------+------------+--------------+--------------+---------------+-------------+--------------+-----------------+
|PassengerId_null_cnt|Survived_null_cnt|Pclass_null_cnt|Name_null_cnt|Sex_null_cnt|Age_null_cnt|SibSp_null_cnt|Parch_null_cnt|Ticket_null_cnt|Fare_null_cnt|Cabin_null_cnt|Embarked_null_cnt|
+--------------------+-----------------+---------------+-------------+------------+------------+--------------+--------------+---------------+-------------+--------------+-----------------+
|                   0|                0|              0|            0|           0|         177|             0|             0|              0|            0|           687|                2|
+--------------------+-----------------+---------------+-------------+------------+------------+--------------+--------------+---------------+-------------+--------------+-----------------+

In [70]:
copy_df = spark_df.withColumn("Age", col("Age").cast("integer"))
copy_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [75]:
from pyspark.sql.functions import avg

avg_age = spark_df.select(avg("Age")).first()[0]
embarked = "ZZZ"

dictionary = {"Age": avg_age, "Embarked": embarked}

spark_df.fillna(value=dictionary).show()

+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|              Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|             22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|             38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|             26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|             35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|             35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|29.69911764705882|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|             54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|              2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|             27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|             14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|              4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|             58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|             20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|             39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|             14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|             55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|              2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|29.69911764705882|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|             31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|29.69911764705882|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [81]:
def change_gender(gender):
    if gender is None:
        return 'NA'
    if gender == 'male':
        return 'super_male'
    else:
        return 'super_female'

In [83]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

spark_udf = udf(lambda x: change_gender(x), StringType())

spark_df.withColumn("New_Gender", spark_udf(col("Sex"))).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|  New_Gender|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|  super_male|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|super_female|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|super_female|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|super_female|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|  super_male|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|  super_male|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|  super_male|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|  super_male|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|super_female|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|super_female|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|super_female|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|super_female|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|  super_male|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|  super_male|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|super_female|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|super_female|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|  super_male|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|  super_male|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|super_female|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|super_female|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------+
only showing top 20 rows